<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'push' : 'push'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>
      <img src="../../../assets/logo.svg" width="64px" alt="logo" />
    </mat-toolbar>
    <div id="userInfo">
      <img src="../../../assets/banner.jpg" alt="user" />
      <p class="titleText"><b>Usuário Aleatório</b></p>
      <p class="titleText">usuário@aleatorio.com</p>
    </div>
    <mat-nav-list>
      <mat-list-item routerLink="eventos" routerLinkActive="active-link" (click)="buttonChangeRoute()">
        <mat-icon>home</mat-icon>
        <a>Eventos</a>
      </mat-list-item>
      <mat-list-item  routerLink="perfil" routerLinkActive="active-link" (click)="buttonChangeRoute()">
        <mat-icon>home</mat-icon>
        <a>Perfil</a>
      </mat-list-item>
      <mat-list-item routerLink="ajuda" routerLinkActive="active-link" (click)="buttonChangeRoute()">
        <mat-icon>help</mat-icon>
        <a>Ajuda</a>
      </mat-list-item>
      <mat-list-item  routerLink="sobre" routerLinkActive="active-link" (click)="buttonChangeRoute()">
        <mat-icon>info</mat-icon>
        <a>Sobre</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="whitesmoke">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <h1 class="titleText">{{routeName}}</h1>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
